{% extends 'dmcadmin/base/base.html' %}

{% block sidebar %}
{# Блок левого меню #}
    {% include 'dmcadmin/sidebar.html' %}
{% endblock %}

{% block content_header %}
{% endblock %}

{% block content_boxes %}
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>Manage command</h3>
                <p>run manage.py commands</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'dmcadmin:manage_command'%}" class="small-box-footer">Go <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Manage task</h3>
                <p>Table, detail</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="{% url 'dmcadmin:manage_task'%}" class="small-box-footer">Go <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->

{% endblock %}

{% block content_main %}
{% endblock %}