
{#{% block content_main %}#}
    <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">List of manage command task {{ manage_tasks_title_ext }}</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">id</th>
                      <th style="width: 10px">Class</th>
                      <th style="width: 10px">manage_command</th>
                      <th>Datetime created</th>
                      <th>State</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for manage_task in manage_tasks %}
                        <tr>
                            <td><a href="{% url 'dmcadmin:manage_task_detail' manage_task.id %}">{{ manage_task.id }}</a></td>
                            <td>{{ manage_task.cls }}</td>
                            <td>{{ manage_task.manage_command }}</td>
                            <td>{{ manage_task.datetime_create }}</td>
                            <td>{{ manage_task.state }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-left">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                    {% endif %}

                    <li class="page-item">Page {{ page_obj.number }} of {{ paginator.num_pages }}</li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        </li>
                    {% endif %}


                </ul>
              </div>
            </div>
            <!-- /.card -->
          </div>
{#{% endblock %}#}